/* laptop device */
@media screen and (max-width: 1200px) {
  .video-image{
    max-width: 1056px !important   ;
  }
  }

/* tablet device  */
@media screen and (max-width: 1024px) {
.btn{
    padding: 12px 18px;
    font-size: 16px;
}
.banner h2{
    font-size: 40px;
}
.banner-p{
    padding: 20px 20px;
    color: #0d132179;
    font-size: 16px;
}

.coding {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 20px 30px;
}
.video-image{
    max-width: 600px !important;
  }
}

/* mobile device  up to 425px */
@media screen and (max-width: 640px) {
 .banner h2{
    font-size: 32px;
}
.banner-p{
    padding: 16px;
    color: #0d132179;
    font-size: 13px;
    text-align: justify;
}
.why-web h4 {
    font-size: 26px;
}
.inspiration-p{
        padding: 10px 3%;
        text-align: justify;
        font-size: 14px;
    }

.code-p {
    font-size: 13px;
}
.coding .image{
  overflow: hidden;
}
.coding {
    gap: 6px;
    padding: 5px 6px;
}
/* .target .card-container{
  gap: 10px;
} */
 .video-image{
    max-width: 400px !important;
  }
footer .icon{
  flex-wrap: wrap;
}
footer img{
  max-width: 30px;
}
footer p{
  font-size: 13px;
}
 .icon{
        gap: 6px;
        font-size: 16px;
    }
}

