/* common css */
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(270deg, #B8E7FA, #E6E6FA);
}
/* header style start */
header{
    background: hsla(0, 0%, 100%, 0.61);
    padding: 20px 6%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career{
    font-size: 28px;
    font-weight:bolder;
    cursor: pointer;
}
.io{
    font-size: 28px;
    font-weight:bolder;
    color: #FFA500;
}
/* button for common design */
.btn{
    padding: 17px 24px;
    background: linear-gradient(to right, #FFA500, #FFD447);
    border-radius: 6px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    box-shadow: 4px 5px 6px #ccc;
    color: #0D1321;
    transition: ease-in-out .3s;
}
.btn:hover{
    background: linear-gradient(to left, #FFA500, #FFD447);
    color: #fff;
    cursor: pointer;
}
/* bannear part start */
.banner{
    padding: 40px 6%;
    background: #E6EDF9;
    text-align: center;
    margin: auto 6%;
    align-items: center;
    margin-top: 60px;
    border-radius: 4px;
    margin-bottom: 60px;
}
.banner h2{
    font-size: 48px;
    font-weight: bold;
}
.banner-p{
    padding: 20px 120px;
    color: #0d132179;
    font-size: 18px;
}
/* why-web part start */
.two, .target{
    margin: 50px 6%;
}
.why-web{
    text-align: center;
    margin-top: 40px;
}
.why-web h4{
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 30px;
}
.coding{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    background: #E6E6FA;
    border-radius: 4px;
    padding: 40px 60px;
    justify-content: space-between;
    align-items: center;
}
.codH5{
    color: #0d1321;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 30px;
    line-height: 28px;
}
.code-p{
    color: #696969;
    font-size: 18px;
    padding-bottom: 40px;
}
 /*  My inspiration style part start  */
    .inspiration{
        margin: 60px 6%;
        text-align: center;
    }
    .inspiration-p{
        padding: 20px 15%;
        color: #696969;
    }
    .video-image {
        text-align: center;
        margin: 0 auto;
    }
    .video-image img{
        overflow: hidden;
        max-width: 100%;
    }
/* My target part starts */
#my-target{
    margin: auto 6%;
}
.target{
    text-align: center;
    margin-top: 80px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.card-container .common-style{
    transition: all .3s;
    background: linear-gradient(0deg, #B8E7FA, #E6E6FA);
    padding: 30px;
    min-width: 300px;
    box-shadow: 5px 7px 10px #bbb;
    border-radius: 6px;
    border:#0D1321;
}
.card-container a{
    font-size: 14px;
}
.common-style:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/* Footer style start */
footer{
    width: 100%;
    /* margin: auto 6%; */
    background: #fff;
    padding: 30px 6%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    }
    .icon{
        display: flex;
        gap: 16px;
        font-size: 20px;
    }
  

   
    